.arrow {
   marker-end: url(#head);
   fill: none;
   stroke: black;
   stroke-width: 2;
}
.grid {
   marker-end: url(#head);
   fill: none;
   stroke: lightblue;
   stroke-width: 3;
   stroke-dasharray: 4;
   animation: dash 5s infinite linear;
}
@keyframes dash {
   to {
      stroke-dashoffset: -50;
   }
}

.spawninfo {
   stroke: red;
   stroke-width: 2;
    fill: red;
}

.spawninfo:hover{
   opacity: .5 !important;
   transform: scale(3);
   transform-box: fill-box;
   transform-origin: center;
   transition: all .3s;
}

